:root {
  /* --bg-game: /public/img/fondo.png; */
  --bg-opacity-modal: #1311118e;
  /* --color-letra-modal: asdsa; */
}
* {
  margin: 0px;
  font-family: "Press Start 2P", cursive;
}
body {
  background: url(/public/img/fondo.png) no-repeat center center fixed;
  background-size: 100%;
}
/* NAV DELETE BEFORE */
.nav {
  display: fixed;
  position: absolute;
  top: 400px;
  left: 20px;
  background: #1f1f1f;
  border-radius: 10px;
  list-style: square;
  padding: 20px;
  color: floralwhite;
}
.nav > li > a {
  font-size: 20px;
  color: floralwhite;
  text-decoration: none;
}
/* Objetos */
.obejts {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rancher {
  width: 350px;
}

.boton,
.btn {
  background-color: #d9d9d9;
  padding: 15px;
  margin: 10px;
  position: -webkit-sticky;
  position: sticky;
  text-decoration: none;
  color: rgb(253, 253, 253);
  border-radius: 5px;
  font-weight: bold;
  /*animaciones*/
  border-color: #afb0b2;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #b4c7ff;
  text-shadow: 0px 1px 0px #4e4e4e;
  background: linear-gradient(rgb(120, 146, 194), #476e9e);
}

.boton:hover,
.btn:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #e7da67;
  color: #777;
}

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
} */

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
