body {
  background: url(/public/img/fondo.png) no-repeat center center fixed;
  background-size: 100% 100%;
}
#opacidad {
  background-color: #1311118e;
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  color: aliceblue;
}
header > .logo {
  height: 200px;
  width: 200px;
  margin-top: 0px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
}
/* header >.time{
    font-size: 20px; 
} */
/* header >.score{
    font-size: 20px; 
} */

.btns {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  gap: 20px;
  font-size: 20px;

  margin-top: 5vh;
}
#pause-game {
  font-size: 25px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
