body {
  background: url(/public/img/river.webp) no-repeat center center fixed;
  background-size: 100% 100%;
  /* background-size: 120vh 100vw; */
}
header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Press Start 2P", cursive;
  color: aliceblue;

  background-color: #1311113c;
  padding: 10px;
}
header > a > .logo {
  padding: 10px;
  height: 130px;
  width: 105px;
  margin-top: 0px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
}
header > #time-game {
  font-size: 22px;
}
header > #score-game {
  font-size: 22px;
}
header > #pause-game {
  cursor: pointer;
  letter-spacing: -0.4em;
  text-align: center;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 25px;
}
#pause-game:hover {
  /* font-size: 20px; */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btns {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  gap: 20px;
  font-size: 20px;

  margin-top: 5vh;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


#view-game {
  padding-left: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  /* align-content: flex-end; */
  align-items: flex-end;
}
/* Objetos */
.obejts {
  display: flex;
  justify-content: flex-end;
}

#Boat-player {
  width: 310px;
  transition: all ease-in 0.5s;
}
/* #Boat-player :hover {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
} */

#hawk {
  height: 95px;
  width: 120px;
}
#parrot {
  background: #000;
  height: 80px;
  width: 80px;
}
#walnuts {
  background: #000;
  height: 80px;
  width: 80px;
}
