body {
  background: url(/public/img/river.webp) no-repeat center center fixed;
  background-size: 100% 100%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

/* home */
.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 35%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}
img {
  width: 100%;
  height: auto;
  width: 32%;
  display: inline-block;
}

/* Objetos */
.obejts {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#Rancher {
  position: absolute;
  bottom: 155px;
  width: 25%;
  max-width: 360px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
#walnuts {
  width: 5%;
  float: left;
  left: 75px;
  position: absolute;
  bottom: 185px;
  max-width: 320px;
  margin: 0 auto;
}
#parrot {
  width: 7%;
  float: left;
  left: 310px;
  position: absolute;
  bottom: 196px;
  max-width: 320px;
  margin: 0 auto;
}
#hawk {
  width: 4.5%;
  float: left;
  left: 420px;
  position: absolute;
  bottom: 190px;
  max-width: 320px;
  margin: 0 auto;
}
.btn-play-home {
  display: flex;
  justify-content: center;
  align-content: center;
} 
/* #btn-play-home {
  margin-top: 8vh;
} */
