body {
  background-image: url(/public/img/bginstructions.png);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
}
body#opacidad {
  background-color: #131111;
  height: 645px;
  opacity: 0.8;
  opacity: 80%;
}
.caja {
  background: #d9d9d9;
  padding: 4px;
  border-radius: 20px;
  width: 430px;
  height: 380px;
}
.SubCaja {
  padding: 15px;
  margin: 3px;
  background-image: url(/public/img/Fallaste.jpg);
  border-radius: 20px;
  width: 395px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.botones {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.boton {
  background-color: #d9d9d9;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  color: rgb(253, 253, 253);
  border-radius: 5px;
  font-weight: bold;
  /*animaciones*/
  border-color: #afb0b2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 0px 2px #aab2c8;
  text-shadow: 0px 1px 0px #4e4e4e;
  background: linear-gradient(rgb(120, 146, 194), #476e9e);
}

.boton:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
}
