body {
  background: url(/public/img/river.webp) no-repeat center center fixed;
  background-size: 100% 100%;
}
#opacidad {
  background-color: #1311118e;
  height: 100vh;
  width: 100vw;
}
.final{
  height: 700px;
  width: 700px;
}
.logo {
  height: 150px;
  width: 150px;
  margin-top: 0px;
  margin-left: 20px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img4 {
  position: fixed;
  height: 700px;
  width: 700px;
  background: rgba(0, 0, 0, 0.3);
  overflow: auto;
  border-radius: 20px;
  border: 6px solid rgb(255, 255, 255);
}
.img4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  /*max-height: 100%;*/
}

.centrado {
  font-size: 25px;
  position: absolute;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
}
h2{
  margin-top: 10px;
  position: absolute;
  font-size: 20px;
  word-spacing: 2em;
  top: 150%;
  left: 43%;
  color: #f7f7f7;
  transform: translate(-45%, -45%);
}
.btn:link,
.btn:visited {
  text-decoration: none;
  height: 2%;
  width: 5%;
  bottom: 215px;
  /* right: 570px; */
  display: inline-flex;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  font-family: "Cascadia Code";
  background-color: #f8f1f2;
  color: rgb(14, 12, 12);
  padding: 1em 1.2em;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn .btn-white {
  background-color: #f7f7f7;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 90%;
  width: 90%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animate {
  animation: moveInBottom .5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
}