/* MODALGENERAL */
.modal-container{
    background-color: var(--bg-opacity-modal);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #fff;
    max-width: 1000px;
    border-radius: 10px;
}

/* Estilos del modal */
.header-modal{
    border-radius: 9px 9px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 0 30px;
    height: 75px;
    gap: 40px;
    color: var(--color-letra-modal);
    background: var(--bg-primario-low);
    font-style: italic;
}
.cross-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cross{
    color: var(--color-letra-modal);
    font-size: 47px;
    cursor: pointer;
    font-style: normal;
    transition: var(--transition-btn-modal);
}
.cross:hover{
    color: var(--color-cross-modal);
}
.contenedor-main{
    margin: 25px;
}
.header-con-main,
.parrafo-lorem>p{
    color: #000;
}
.parrafo-lorem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.texto-1{
    font-size: 30px;
}
.texto-2{
    font-size: 20px;
}
.btn-modal-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-modal-container a{
    list-style: none;
    text-decoration: none;
}
.btn-modal:visited{
    color: #000;
}
.btn-modal:default{
    color: #000;
}
.btn-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    transition: var(--transition-btn-modal2);
    border: 3px solid transparent;
}
.btn-modal:hover{
    border: 3px solid #000;
}
.btn-si{
    background: #50d13fb9;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
}
.btn-si:hover{
    background: #dddfe057;
}
.btn-no{
    background: #e92f2f99;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
}
.btn-no:hover{
    background: #dddfe057;
}

.perrito{
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
}