
.modal-content2{
    padding: 30px;
}
.header-maso{
    display: flex;
    flex-direction: row-reverse;
}
.header-con-main2{
    text-align: center;
}

.contenedor-main2{
    padding-top: 22px;
}

/* CROSS */
.cross-container2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
}
.cross2{
    color: var(--color-cross-modal2);
    font-size: 55px;
    cursor: pointer;
    font-style: normal;
    transition: var(--transition-btn-modal);
}
.cross2:hover{
    color: var(--color-cross-modal);
}

.contenedor-main2{
    margin-top: 0px;
}