/* MODALGENERAL */
.modal-container{
    background-color: var(--bg-modal-black);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #fff;
    max-width: 1000px;
    border-radius: 10px;
    width: 30%;
}

/* Estilos del modal */
.header-modal{
    border-radius: 9px 9px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 0 30px;
    height: 65px;
    gap: 40px;
    color: var(--color-letra-modal);
    background: var(--bg-primario-low);
    font-style: italic;
}
.header-modal h2{
    font-size: 33px;
}

.cross-container{
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cross{
    color: var(--color-letra-modal);
    font-size: 47px;
    cursor: pointer;
    font-style: normal;
    transition: var(--transition-btn-modal);
}
.cross:hover{
    color: var(--color-cross-modal);
}
.contenedor-main{
    margin: 25px;
}
.texto-1{
    font-size: 30px;
}
.texto-2{
    font-size: 20px;
}
.btn-modal-container{
    padding-top: 30px;
}

.btn-salir{
    height: 25px;
    width: 80px;
    background: #fd815bfb;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.75));
    border: 2px solid transparent;
}
.btn-salir:hover{
    background: #e92f2f99;
}